//================================================
// Navigation | Main Navigation
// Author: Akanksha Sarin
//================================================

.nav {
  position: relative;
  display: grid;
  height: 100%;
  width: 6.4rem;
  float: left;
  grid-template-rows: 5fr 1fr;
  position: relative;
  background-color: $nav-bg;
  z-index: 2;

  &__item {
    position: relative;
    width: 100%;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    &::before {
      position: absolute;
      display: block;
      content: "";
      left: 0;
      top: 50%;
      width: 0.2rem;
      height: 2.4rem;
      background-color: transparent;
      transform: translateY(-50%);
      transition: background-color $transition-base;
    }

    &.is-active::before {
      background-color: $white;
    }
  }

  &__link {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border-radius: 100%;
    line-height: 1.5;
    text-decoration: none;
    color: #fff;
    transition: color $transition-base, background-color $transition-base;
    font-size: 2.4rem;

    &:hover,
    .nav__item.is-active & {
      color: $blue;
      background-color: $white;
    }
  }
}
