//================================================
// Variables
// Author: Akanksha Sarin
//================================================

// Colors
//================================================

// Base
$white: #ffffff;
$black: #000000;

// Grayscale
$bg-color: #fafbfc;
$border-color: #e4e8f0;
$highlight-color: #e4e8f0;

// Text Color:
$text-dark: #2e384d;
$text-light: #42526e;

// Brand Colors
$brand-primary: #0052cc;

// Other Colors
$nav-bg: #091e42;

// Project Colors
$blue: #0052cc;
$blue-light: #deebff;

$purple: #403294;
$purple-light: #c0b6f2;

$green: #006644;
$green-light: #abf5d1;

$orange: #de350b;
$orange-light: #ffbdad;

$teal: #008da6;
$teal-light: #b3f5ff;

$yellow: #ff8b00;
$yellow-light: #fff0b3;

$gray: #091e42;
$gray-light: #DFE1E6;

// Fonts
//================================================
$font-family-primary: "Helvetica Neue", sans-serif !default;

$fz-base: 1.4rem;
$fz-sm: 1.2rem;
$fz-lg: 1.6rem;
$fz-xl: 2.4rem;
$fz-brand: 2.5rem;

// Transition
$transition-base: 0.25s ease-in-out;
